appdirs==1.4.3
Babel==2.9.0
bs4==0.0.1
Cartopy==0.19.0.post1
certifi==2019.11.28
cffi==1.14.5
chardet==4.0.0
cldfbench==1.11.0
-e git+https://github.com/glottolog/glottolog-cldf.git@242f93251a7943703a92edfa4733bb6d7ba1269d#egg=cldfbench_glottolog
cldfcatalog==1.5.1
-e git+https://github.com/cldf/cldfviz.git@3c918072021b8257883ba3ff1637c16be066a2c7#egg=cldfviz
cldfzenodo==0.2.0
clldutils==3.12.0
colorama==0.4.3
colorlog==4.7.2
csvw==3.1.1
cycler==0.11.0
gitdb==4.0.5
greenlet==1.0.0
html5lib==1.0.1
idna==2.8
iniconfig==1.1.1
isodate==0.6.0
Jinja2==2.11.3
jmespath==1.0.0
jsonschema==4.16.0
kiwisolver==1.4.2
lxml==4.8.0
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.5.1
nameparser==1.0.6
newick==1.0.0
numpy==1.22.3
openpyxl==3.0.7
packaging==20.3
pkg_resources==0.0.0
pluggy==0.13.1
purl==1.5
py==1.10.0
pybtex==0.24.0
pycldf==1.28.0
pycountry==22.3.5
-e git+https://github.com/glottolog/pyglottolog@af30e5ddb2490f593c5c58795001b739b8767d39#egg=pyglottolog
pyparsing==2.4.6
pyproj==2.6.1
pyrsistent==0.18.1
pytest==6.2.2
python-dateutil==2.8.1
pytz==2021.1
rdflib==5.0.0
requests==2.25.1
rfc3986==1.4.0
Shapely==1.8.1.post1
six==1.14.0
smmap==3.0.5
soupsieve==2.2
SQLAlchemy==1.4.27
tabulate==0.8.7
termcolor==1.1.0
tqdm==4.56.2
uritemplate==3.0.1
urllib3==1.26.5
webencodings==0.5.1
xlrd==2.0.1
yattag==1.14.0
zenodoclient==0.4.1
zipp==3.9.0